<ion-header>
  <ion-navbar>
    <ion-title>Feeditems of {{ feedname }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="ordering">
    <ion-list>
      <ion-item-sliding *ngFor="let item of feeditems" text-wrap [class.shown]="item.shown">
        <ion-item (click)="openArticle(item)">
          <p id="card-title">
            {{ item.title }}
          </p>
          <p id="card-url">
            {{ item.feed_parent }} | {{ item.date | date:"dd/MM/yyyy 'at' HH:mm" }}
          </p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="secondary" (click)="bookmarkArticle(item)">Save</button>
          <button ion-button color="default" (click)="upvoteArticle(item)">Like</button>
          <button ion-button color="danger" (click)="downvoteArticle(item)">Dislike</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
