<ion-header>
  <ion-navbar>
    <ion-title>
        <ion-title>
            <span class="title-feed">Article</span>
            <ion-icon class="bookmark" [class.clicked]="article.saved" name="bookmark" (click)="bookmarkArticle(article)"></ion-icon>
            <ion-icon class="bookmark" [class.clicked]="article.shared" name="link" (click)="copyUrl(article)"></ion-icon>
            <ion-icon class="bookmark" name="open" (click)="openInBrowser(article)"></ion-icon>
          </ion-title>
        
    </ion-title>
  </ion-navbar>
  <progress value="{{ progress }}" max="100"></progress>
</ion-header>

<ion-content padding (ionScroll)="updateProgressBar()">
    <h1>{{ article.title }}</h1>
    <div id="content-size" [innerHTML]=article.content></div>
</ion-content>
