page-article {
    .bookmark {
        margin-left: 15px;
        float: right;
    }
    .title-feed {
        float: left;
    }
    .clicked {
        color: #ddd;
    }
    progress {
        /* Positioning */
        position: fixed;
        left: 0;
        top: 0;

        /* Dimensions */
        width: 100%;
        height: 5px;

        /* Reset the appearance */
        -webkit-appearance: none;
            -moz-appearance: none;
                appearance: none;

        /* Get rid of the default border in Firefox/Opera. */
        border: none;

        /* Progress bar container for Firefox/IE10+ */
        background-color: transparent;
    
        /* Progress bar value for IE10+ */
        color: red;
    }
}

.dark-theme page-article {
    .clicked {
        color: rgb(45, 45, 45) !important;
    }
}

.light-theme page-article {
    .clicked {
        color: #ddd;
    }
}