<ion-tabs>
  <ion-tab tabIcon="paper" [root]="tab1Root"></ion-tab>
  <ion-tab tabIcon="bookmark" [root]="tab2Root"></ion-tab>
  <ion-tab tabIcon="pricetags" [root]="tab4Root"></ion-tab>
  <ion-tab tabIcon="list" [root]="tab5Root"></ion-tab>
  <ion-tab tabIcon="cog" [root]="tab3Root"></ion-tab>
</ion-tabs>
