page-parameters {
    #connect-button {
        width : 100%;
    }

    #disconnect-button {
        width : 100%;
    }

    #subscribe-button {
        width : 100%;
    }
}

.dark-theme page-parameters {
    .card, .list, .item-md {
        background-color: #373737;
        color: #fff;
    }

    h2 {
        color: #eee;
    }
}

.light-theme page-parameters {
    #card-title {
        color: #000;
    }
}
