page-home {
    #card-title {
        font-size: 1.5rem;
    }
    #card-url {
        color: rgb(102, 102, 102);
    }
    .label {
        margin-bottom: 0px;
    }
    .shown > ion-item {
        font-weight: bold;
    }
}

.dark-theme page-home {
    .list-md ion-item-sliding, .item-md {
        background-color: #2e2e2e !important;
    }
    #card-title {
        color: #fff;
    }
}

.light-theme page-home {
    #card-title {
        color: #000;
    }
}