<ion-header>
  <ion-navbar>
    <ion-title>Feed items</ion-title>
    <ion-segment [(ngModel)]="ordering">
      <ion-segment-button value="SCORE">
        Score
      </ion-segment-button>
      <ion-segment-button value="DATE">
        Date
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content     
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      efreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="ordering">
    <ion-list *ngSwitchCase="'DATE'">
      <ion-item-sliding *ngFor="let itemByDate of feeditemsByDate" text-wrap [class.shown]="itemByDate.shown">
        <ion-item (click)="openArticle(itemByDate)">
          <p id="card-title">
            {{ itemByDate.title }}
          </p>
          <p id="card-url">
            {{ itemByDate.feed_parent }} | {{ itemByDate.date | date:"dd/MM/yyyy 'at' HH:mm" }}
          </p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="secondary" (click)="bookmarkArticle(itemByDate)">Save</button>
          <button ion-button color="default" (click)="upvoteArticle(itemByDate)">Like</button>
          <button ion-button color="danger" (click)="downvoteArticle(itemByDate)">Dislike</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'SCORE'">
      <ion-item-sliding *ngFor="let itemByScore of feeditemsByScore" text-wrap [class.shown]="itemByScore.shown">
        <ion-item (click)="openArticle(itemByScore)">
          <p id="card-title">
            {{ itemByScore.title }}
          </p>
          <p id="card-url">
            {{ itemByScore.feed_parent }} | {{ itemByScore.date | date:"dd/MM/yyyy 'at' HH:mm" }}
          </p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="secondary" (click)="bookmarkArticle(itemByScore)">Save</button>
          <button ion-button color="default" (click)="upvoteArticle(itemByScore)">Like</button>
          <button ion-button color="danger" (click)="downvoteArticle(itemByScore)">Dislike</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
