.dark-theme {
  ion-content {
    background-color: #2e2e2e;
    color: #fff;
  }
  
  .toolbar-title {
    color: #fff;
  }
  
  .header .toolbar-background {
    background-color: #252525;
  }

  .tabs-md .tabbar {
    background-color: #252525;
    color: #fff;
  }
}  