<ion-header>
  <ion-navbar>
    <ion-title>Locally saved items</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of feeditems" text-wrap [class.shown]="item.shown">
      <ion-item (click)="openArticle(item)">
        <p id="card-title">
          {{ item.title }}
        </p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="default" (click)="unsaveArticle(item)">Unsave</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>