page-feeds {
    #card-title {
        font-size: 1.5rem;
        color: #000;
    }
    #card-url {
        color: rgb(102, 102, 102);
    }
    .label {
        margin-bottom: 0px;
    }
    .shown {
        background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            rgb(235, 235, 235) 10px,
            rgb(235, 235, 235) 20px
        )
    }
}

.dark-theme page-saved {
    .list-md ion-item-sliding, .item-md {
        background-color: #2e2e2e !important;
    }
    #card-title {
        color: #fff;
    }
}

.light-theme page-saved {
    #card-title {
        color: #000;
    }
}
