<ion-header>
  <ion-navbar>
    <ion-title>Feeds</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="feeds-card">
    <ion-list>
      <ion-list-header>Inserted feed</ion-list-header>
      <ion-item *ngFor="let f of feeds" (click)="openFeed(f)">
        <h2>{{ f.name }}</h2>
        <p>{{ f.url }}</p>
        <button ion-button clear item-end (click)="unsubscribe(f)">Delete</button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>